/* * {
  border: 1px solid red !important;
} */

/* Main Styles */
body {
  font-family: 'Montserrat', sans-serif;
}

section.main {
  padding: 40px 0;
  text-align: center;
}

/* Nav Bar Styles */
.lb-logo {
  border: 1px solid;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}

/* Intro Section Styles */
.intro-section {
  background-color: #fbdadb;
  text-align: center;
}

.intro-message {
  padding: 50px;
  /* font-family: 'Architects Daughter', cursive; */
  font-size: 28px;
  /* font-family: 'Amatic SC', cursive; */
  /* font-family: 'Shadows Into Light', cursive; */
  /* color: #b7b7b7; */
  color: gray;
}

/* Skills Section Styles */
.card {
  margin: 15px 0;
  /* font-family: 'News Cycle', sans-serif; */
}

.icons {
  height: 50px;
  max-width: 60px;
}

/* Projects Section Styles */
#projects-section {
  background-color: #f7f7f7;
}

.project-1 {
  background-color: #26c0c0;
}

.project-2 {
  background-color: #B0DB45;
}

.project-3 {
  background-color: #8f7bce;
}

.project-4 {
  background-color: #008eff;
}

.project-icon i {
  font-size: 30px;
  color: #fff;
}

.github-button {
  padding-top: 30px;
}

.btn {
  background-color: #f07f83;
  border-color: #f07f83;
}

/* Contact Section Styles */
.contactme-form {
  text-align: left;
  /* font-family: 'News Cycle', sans-serif; */
}

/* About Section Styles */
.jumbotron {
  background-color: rgba(96,120,168,.5);
  margin-bottom: 0;
}

.aboutme p {
  /* font-family: 'Architects Daughter', cursive; */
  color: #fff;
  font-size: 20px;
  margin: 0;
}

.made-by {
  /* font-family: 'News Cycle', sans-serif; */
  font-size: .85rem;
  color: #fff;
}
