/* * {
  border: 1px solid red !important;
} */

/* Main Styles */
body {
  font-family: 'Montserrat', sans-serif;
}

section.main {
  padding: 40px 0;
  text-align: center;
}

.section-title, .navbar {
  font-weight: 500;
  padding-bottom: 10px;
}

/* Nav Bar Styles */
.lb-logo {
  border: 1px solid;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}

/* Intro Styles */
.intro-jumbo {
  background-color: #fbdadb;
  text-align: center;
  color: gray;
  margin-bottom: 0;
}

/* Skills Section Styles */
.card {
  margin: 15px 0;
  font-size: .9rem;
}

.icons {
  height: 50px;
  max-width: 60px;
  padding-bottom: 10px;
}

/* Projects Section Styles */
#projects-section {
  background-color: #f7f7f7;
}

.project-1 {
  background-color: #26c0c0;
}

.project-2 {
  background-color: #B0DB45;
}

.project-3 {
  background-color: #8f7bce;
}

.project-4 {
  background-color: #008eff;
}

.project-icon i {
  font-size: 30px;
  color: #fff;
}

.github-button {
  padding-top: 30px;
}

.btn {
  background-color: #f07f83;
  border-color: #f07f83;
}

.btn-primary:hover {
    color: #fff;
    background-color: #be6e73;
    border-color: #be6e73;
  }

/* Contact Section Styles */
.contactme-form {
  text-align: left;
}

/* About Section Styles */
.aboutme-jumbo {
  background-color: rgba(96,120,168,.7);
  margin-bottom: 0;
}

.aboutme .section-title {
  color: rgba(250,250,250,.7);
}

.aboutme p {
  color: #fff;
  font-size: 20px;
  margin: 0;
}

.strong {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 23px;
}

/* Footer Styles */
.made-by {
  font-size: .75rem;
  font-weight: 400;
  color: #fff;
}
