/* * {
  border: 1px solid red !important;
} */

body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.main.row {
  text-align: center;
}

.lb-logo {
  border: 1px solid;
  padding: .375rem .75rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.intro-section {
  background-color: #fbdadb;
  text-align: center;
}

.intro-message {
  padding: 50px;
  font-family: 'Architects Daughter', cursive;
  font-size: 28px;
  /* font-family: 'Amatic SC', cursive; */
  /* font-family: 'Shadows Into Light', cursive; */
  /* color: #b7b7b7; */
  color: gray;
}

.social-section {
  background-color: #cacaca;
}
